name: plant_disease_app
description: A Flutter app to detect plant diseases using FastAPI
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  image_picker: ^1.0.7
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter:
  assets:
    - assets/images/plantDoctor.png
    - assets/images/Green and White Plants Organic Logo.png
    - assets/images/background.png
